/Maven__ch_qos_logback_logback_classic_1_2_3.xml
/Maven__ch_qos_logback_logback_core_1_2_3.xml
/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_3.xml
/Maven__com_fasterxml_jackson_core_jackson_core_2_11_3.xml
/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_3.xml
/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_3.xml
/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_3.xml
/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_3.xml
/Maven__com_github_fommil_jniloader_1_1.xml
/Maven__com_github_fommil_netlib_core_1_1.xml
/Maven__com_github_fommil_netlib_native_ref_java_1_1.xml
/Maven__com_github_fommil_netlib_native_system_java_1_1.xml
/Maven__com_github_fommil_netlib_netlib_native_ref_linux_armhf_natives_1_1.xml
/Maven__com_github_fommil_netlib_netlib_native_ref_linux_i686_natives_1_1.xml
/Maven__com_github_fommil_netlib_netlib_native_ref_linux_x86_64_natives_1_1.xml
/Maven__com_github_fommil_netlib_netlib_native_ref_osx_x86_64_natives_1_1.xml
/Maven__com_github_fommil_netlib_netlib_native_ref_win_i686_natives_1_1.xml
/Maven__com_github_fommil_netlib_netlib_native_ref_win_x86_64_natives_1_1.xml
/Maven__com_github_fommil_netlib_netlib_native_system_linux_armhf_natives_1_1.xml
/Maven__com_github_fommil_netlib_netlib_native_system_linux_i686_natives_1_1.xml
/Maven__com_github_fommil_netlib_netlib_native_system_linux_x86_64_natives_1_1.xml
/Maven__com_github_fommil_netlib_netlib_native_system_osx_x86_64_natives_1_1.xml
/Maven__com_github_fommil_netlib_netlib_native_system_win_i686_natives_1_1.xml
/Maven__com_github_fommil_netlib_netlib_native_system_win_x86_64_natives_1_1.xml
/Maven__com_github_fracpete_jclipboardhelper_0_1_0.xml
/Maven__com_github_fracpete_jfilechooser_bookmarks_0_1_6.xml
/Maven__com_github_messenger4j_messenger4j_1_1_0.xml
/Maven__com_github_vbmacher_java_cup_11b_20160615.xml
/Maven__com_github_vbmacher_java_cup_runtime_11b_20160615.xml
/Maven__com_google_code_gson_gson_2_8_6.xml
/Maven__com_googlecode_matrix_toolkits_java_mtj_1_0_4.xml
/Maven__com_googlecode_netlib_java_netlib_java_1_1.xml
/Maven__com_squareup_okhttp3_okhttp_3_14_9.xml
/Maven__com_squareup_okio_okio_1_17_2.xml
/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
/Maven__com_sun_istack_istack_commons_runtime_3_0_8.xml
/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/Maven__junit_junit_4_13_1.xml
/Maven__net_sourceforge_f2j_arpack_combined_all_0_1.xml
/Maven__nz_ac_waikato_cms_weka_thirdparty_bounce_0_18.xml
/Maven__nz_ac_waikato_cms_weka_weka_stable_3_8_4.xml
/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml
/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_39.xml
/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_39.xml
/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/Maven__org_glassfish_jakarta_el_3_0_3.xml
/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_3.xml
/Maven__org_glassfish_jaxb_txw2_2_3_3.xml
/Maven__org_hamcrest_hamcrest_2_2.xml
/Maven__org_hamcrest_hamcrest_core_2_2.xml
/Maven__org_junit_jupiter_junit_jupiter_5_6_3.xml
/Maven__org_junit_jupiter_junit_jupiter_api_5_6_3.xml
/Maven__org_junit_jupiter_junit_jupiter_engine_5_6_3.xml
/Maven__org_junit_jupiter_junit_jupiter_params_5_6_3.xml
/Maven__org_junit_platform_junit_platform_commons_1_6_3.xml
/Maven__org_junit_platform_junit_platform_engine_1_6_3.xml
/Maven__org_opentest4j_opentest4j_1_2_0.xml
/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
/Maven__org_slf4j_slf4j_api_1_7_30.xml
/Maven__org_springframework_boot_spring_boot_2_3_5_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_autoconfigure_2_3_5_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_2_3_5_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_json_2_3_5_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_logging_2_3_5_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_3_5_RELEASE.xml
/Maven__org_springframework_boot_spring_boot_starter_web_2_3_5_RELEASE.xml
/Maven__org_springframework_spring_aop_5_2_10_RELEASE.xml
/Maven__org_springframework_spring_beans_5_2_10_RELEASE.xml
/Maven__org_springframework_spring_context_5_2_10_RELEASE.xml
/Maven__org_springframework_spring_core_5_2_10_RELEASE.xml
/Maven__org_springframework_spring_expression_5_2_10_RELEASE.xml
/Maven__org_springframework_spring_jcl_5_2_10_RELEASE.xml
/Maven__org_springframework_spring_jdbc_5_2_10_RELEASE.xml
/Maven__org_springframework_spring_tx_5_2_10_RELEASE.xml
/Maven__org_springframework_spring_web_5_2_10_RELEASE.xml
/Maven__org_springframework_spring_webmvc_5_2_10_RELEASE.xml
/Maven__org_yaml_snakeyaml_1_26.xml
/snowball_20051019.xml
